* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #222831;
  color: #eeeeee;
}

header,
main {
  text-align: center;
  padding: 25px;
}

main {
  margin: 2px auto;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.bill-input {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.bill-output {
  border-radius: 4px;
  width: 100%;
  background-color: #31363f;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 40px;
}
